/* 
  * Convencion recomendada por el profesor.
  
  1. Posicionamiento (absolute, relative, fixed, etc)
  2. Modelo de Caja (Box Model)
  3. Tipografia (tipos, tamanios, etc)
  4. Visuales (border-radius, box-shadow, gradient, etc)
  5. Otros (Miscellaneous) -> Reglas CSS y mas
*/



/* 
  Color Vars
*/
:root {
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}